.card {
  &:hover {
    cursor: pointer;
  }
  &-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;

    @media (max-width: 780px) {
      height: 40vw;
    }
  }
}
