* {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*****Reusables*****/
button {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  background-color: rgb(228, 228, 156);
  border: none;
  border-radius: 0.6rem;
  width: fit-content;

  &:hover {
    background-color: rgba(228, 228, 156, 0.466);
    cursor: pointer;
  }
}

form {
  font-size: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1.8rem;
  width: 100%;
}

.my-flix {
  font-size: 10rem;
  font-family: "Geologica";
}

.loginSignupContainer {
  width: 100vh;
  height: 100%;
  margin: 2rem auto;
  font-size: 3rem;
  padding: 2rem;
}

.main-view {
  max-width: 100rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  @media (max-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 26rem) {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--logoutBtnContainer {
    text-align: center;
  }
}

// Movie card
.movie-card {
  width: 18rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0.1rem 0.2rem 0.4rem gray;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.8rem gray;
    transition: ease 0.2s;
  }

  &--img {
    max-width: 12rem;
    height: 10rem;
    object-fit: cover;
  }

  &--title {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: rgb(228, 228, 156);
    border-radius: 0.6rem;
    margin-bottom: 1rem;
  }
}

// Movie view
.movie-view {
  // max-width: 40rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;

  &--title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
  }

  &--img {
    max-width: 30rem;
  }

  &--directorBox {
    padding: 1rem;
  }
  &--btn {
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto;
    font-family: inherit;
    color: rgb(231, 227, 227);
    background-color: rgb(17, 17, 17);

    &:hover {
      background-color: rgb(231, 227, 227);
      color: rgb(17, 17, 17);
      cursor: pointer;
      transition: ease 0.1s;
      font-weight: bold;
    }
  }
}
