$primary-color: rgb(7, 65, 31);

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.my-flix {
  font-size: 10rem;
  font-family: "Geologica";
}

// Movie card
.movie-card {
  max-width: 18rem;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0.1rem 0.2rem 0.4rem gray;

  border-radius: 1rem;

  &:hover {
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.8rem gray;
    transition: ease 0.2s;
  }

  &--img {
    max-width: 12rem;
    max-height: 12rem;
    object-fit: cover;
  }

  &--title {
    padding: 0.5rem;
    font-weight: bold;
  }
}

// Movie view
.movie-view {
  // max-width: 40rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;

  &--title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
  }

  &--img {
    max-width: 30rem;
  }

  &--btn {
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto;
    font-family: inherit;
    color: rgb(231, 227, 227);
    background-color: rgb(17, 17, 17);

    &:hover {
      background-color: rgb(231, 227, 227);
      color: rgb(17, 17, 17);
      cursor: pointer;
      transition: ease 0.1s;
      font-weight: bold;
    }
  }
}
